/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/Tykkipeli/target/
/Tykkipeli/nbproject/
/Tykkipeli/res/highscores.db
/Tykkipeli/res/barrel_02.xcf
/Tykkipeli/res/new_cannon_01.xcf
/Tykkipeli/res/basicShell.xcf
/Tykkipeli/res/explosion1.xcf